<div class="container mt-5">
  <h2>Users</h2>
  <app-add-user (userAdded)="addUser($event)"></app-add-user>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Função</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList; let i = index">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button class="btn btn-warning" routerLink="/app/edit-user">Editar</button>
          <button class="btn btn-danger" (click)="deleteUser(i)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
